{% extends "base.html" %}

{% block content %}

<div class="deposit-container">
    <div class="deposit-card-balance">
        <div class="deposit-balance">
            <p>${{ balance }}</p>
        </div>
        <div class="deposit-card">
            <h1>BANK OF JOSHUA</h1>
            <div class="deposit-card-row-1">
                <p>{{ card_number }}</p>
                <p>06/28</p>
            </div>
            <div class="deposit-card-row-2">
                <p>{{ card_name }}</p>
                <P>{{ card_cvv }}</p>
            </div>
        </div>
    </div>
    <div class="deposit-console">
        <form method="post" class="deposit-form">
            <label for="transfer-user" class="transaction-label">Enter Username</label><br>
            <input type="text" name="transfer-user" class="deposit-amt transfer-amt" required><br>
            <label for="transfer-amt" class="transaction-label">Enter Transfer Amount</label><br>
            <input type="text" name="transfer-amt" class="deposit-amt transfer-amt" minlength="1" required><br>
            <label for="transfer-pin" class="transaction-label">Enter Pin Number</label><br>
            <input type="password" name="transfer-pin" class="deposit-amt transfer-amt" maxlength="4" required><br>
            <div>
                <input type="submit" value="TRANSFER" class="deposit-submit-btn">
            </div>
        </form>
        <div class="deposit-home-btn"><a href="{{ url_for('user_home_page') }}">RETURN HOME</a></div>
    </div>
</div>
<div class="investment-table-content transaction-history-content">
    <h1 class="it-table-header">Transaction History</h1>
    <div class="investment-table">
        <table class="it tt">
            <tr class="it-row-header">
                <td class="it-header">To</td>
                <td class="it-header">From</td>
                <td class="it-header" colspan="3">Amount</td>
                <td class="it-header">Date</td>
                <td class="it-header">Time</td>
            </tr>
            {% if transaction_history %}
                {% for history in transaction_history %}
                <tr class="it-rows">
                  <td class="it-cells">{{ history.receive_user }}</td>
                  <td class="it-cells">{{ history.transfered_user }}</td>
                  <td class="it-cells" colspan="3">{{ history.transaction_amt }}</td>
                  <td class="it-cells">{{ history.date }}</td>
                  <td class="it-cells">{{ history.time }}</td>
                </tr>
                {% endfor %}
            {% else %}
            <tr class="it-rows">
                <td class="it-cells">-</td>
                <td class="it-cells">-</td>
                <td class="it-cells" colspan="3">$-</td>
                <td class="it-cells">-</td>
                <td class="it-cells">-</td>
            </tr>
            {% endif %}
        </table>
    </div>
  </div>
{% endblock %}